@import '../../assets/scss/utils/vars.scss';

section.offer{
  padding: 0 0;
  height: 100%;
}
.offer{
  background: url("/assets/img/first-bg.jpg") no-repeat center/cover;
  background-size: cover;
  width: 100%;
  margin-top: 17px;
  @media screen and (max-width: $desktopWidth){
    margin-top: 0px;
  }
}
.offer__img{
  display: inline-block;
  width: 100%;
  background: no-repeat center top;
  background-size: cover;
}
.offer__title{
  padding: 216px 0 250px 73px;
  text-shadow: 5px 5px 4px $shadow-color, 0 0 1em $shadow-color;
  @media screen and (max-width: $tableWidth){
    padding: 180px 0 210px 45px;
  }
  @media screen and (max-width: $phoneWidth){
    padding: 110px 0 150px 45px;
  }
  @media screen and (max-width: $smPhoneWidth){
    padding: 70px 0 100px 30px;
  }
}
.offer__title-heading{
  font-size: 56px;
  letter-spacing: -0.3px;
  color: $mainFontColor;
  @media screen and (max-width: $tableWidth){
    font-size: $titleFontSize;
  }
  @media screen and (max-width: $phoneWidth){
    font-size: $bigFontSize;
  }
  @media screen and (max-width: $smPhoneWidth){
    font-size: $mainFontSize;
  }
}
.offer__title-desc{
  font-size: $titleFontSize;
  color: $mainFontColor;
  font-family: $mainFont;
  line-height: 1em;
  margin-left: 3px;
  letter-spacing: -0.2px;
  @media screen and (max-width: $tableWidth){
    font-size: $bigFontSize;
  }
  @media screen and (max-width: $phoneWidth){
    font-size: $mainFontSize;
  }
}
.offer__title-desc span{
  color: $primary-color;
}