@import '../../assets/scss/utils/vars.scss';

.offer{
	background: url('/assets/img/first-bg.jpg') no-repeat center top;
	/*-moz-background-size: 100%; /* Firefox 3.6+ */
	/*-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
	/*-o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
  width: 100%;
  margin-top: 17px;
  height: auto;
  @media screen and (max-width: $desktopWidth){
    margin-top: 0px;
  }
}
.offer__title{
	padding: 216px 0 248px 73px;
  text-shadow: 5px 5px 4px black, 0 0 1em black;
  @media screen and (max-width: $tableWidth){
    padding-top: 130px;
    padding-left: 45px;
  }
  @media screen and (max-width: $phoneWidth){
    padding-top: 80px;
    padding-left: 30px;
  }
  @media screen and (max-width: $smPhoneWidth){
    padding-top: 50px;
    padding-left: 20px;
  }
}
.offer__title-heading{
  font-size: 56px;
	letter-spacing: -0.3px;
  color: $mainFontColor;
  @media screen and (max-width: $tableWidth){
    font-size: 40px;
  }
  @media screen and (max-width: $phoneWidth){
    font-size: 30px;
  }
  @media screen and (max-width: $smPhoneWidth){
    font-size: 25px;
  }
}
.offer__title-desc{
	font-size: 40px;
	color: $mainFontColor;
	font-family: 'Playfair Display', serif;
	line-height: 1em;
	margin-left: 3px;
  letter-spacing: -0.2px;
  @media screen and (max-width: $tableWidth){
    font-size: 30px;
  }
  @media screen and (max-width: $phoneWidth){
    font-size: 20px;
  }
}
.offer__title-desc span{
	color: $primary-color;
}