seciton#about.about
  .container-fluid
    .row
      .col-lg-6
        .history
          h2.history__title
            | About Restaurant
          p.history__text
            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged...
          a.cta.buttons.history__button(href='#')
            span Read More
      .col-lg-3
        .food-images.food-images-down
          img.food-images__item(src='/assets/img/food1.jpg', alt='Pasta')
          img.food-images__item(src='/assets/img/food2.jpg', alt='Chicken')
      .col-lg-3.food-images-left
        .food-images
          img.food-images__item(src='/assets/img/food3.jpg', alt='Meat')
          img.food-images__item(src='/assets/img/food4.jpg', alt='Fish')
