@import '../../assets/scss/utils/vars.scss';

.call {
  background: #edf1f3;
  border-bottom: 1px solid #dde3e7;
  width: 100%;
  padding: 0 0;
}

.phone {
  display: flex;
  justify-content: center;
  width: 100%;
  text-transform: uppercase;
}
.phone__img {
  background: url('../img/phone.png') no-repeat left center;
  font-family: $secondFont;
  font-weight: 700;
  font-size: $secondFontSize;
  color: #14141d;
  width: 180px;
  height: 40px;
  margin: auto 0;

  @media screen and (max-width: $phoneWidth) {
    width: 40px;
  }
}
.phone__text-call {
  line-height: 10px;
  font-size: $secondFontSize;
  font-weight: 700;
  padding-left: 50px;
  margin-top: 7px;

  @media screen and (max-width: $phoneWidth) {
    display: none;
  }

  span {
    display: block;
    margin-top: 5px;
    color: $primary-color;
    text-shadow: 1px 1px $shadow-color;
  }
}

.phone__digits {
  font-family: $mainFont;
  font-weight: 700;
  font-size: $bigFontSize;
  line-height: 2rem;
  color: $thrdFontColor;
  margin-left: 1em;
  margin-top: -2px;

  @media screen and (max-width: $phoneWidth) {
    font-size: 20px;
    margin-top: 3px;
  }

  @media screen and (max-width: $smPhoneWidth) {
    line-height: 1.5em;
  }
}