// Sintony-Bold
@font-face {
  font-family: 'Sintony-Bold'; //, sans-serif;
  src:  url('../fonts/Sintony-Bold.eot'); // IE9 Compat Modes
  src:  url('../fonts/Sintony-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
        url('../fonts/Sintony-Bold.woff') format('woff'), // Pretty Modern Browsers
        url('../fonts/Sintony-Bold.woff2') format('woff2'), // Pretty Modern Browsers
        url('../fonts/Sintony-Bold.ttf') format('truetype'), //Safari, Android, iOS
        url('../fonts/Sintony-Bold.svg') format('svg'); // Legacy iOS
}

// Sintony-Regular
@font-face {
  font-family: 'Sintony-Regular'; //, sans-serif;
  src:  url('../fonts/Sintony-Regular.eot'); // IE9 Compat Modes
  src:  url('../fonts/Sintony-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
        url('../fonts/Sintony-Regular.woff') format('woff'), // Pretty Modern Browsers
        url('../fonts/Sintony-Regular.woff2') format('woff2'), // Pretty Modern Browsers
        url('../fonts/Sintony-Regular.ttf') format('truetype'), //Safari, Android, iOS
        url('../fonts/Sintony-Regular.svg') format('svg'); // Legacy iOS
}

// PlayfairDisplay-Bold
@font-face {
  font-family: 'PlayfairDisplay-Bold'; //, sans-serif;
  src:  url('../fonts/PlayfairDisplay-Bold.eot'); // IE9 Compat Modes
  src:  url('../fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
        url('../fonts/PlayfairDisplay-Bold.woff') format('woff'), // Pretty Modern Browsers
        url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'), // Pretty Modern Browsers
        url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype'), //Safari, Android, iOS
        url('../fonts/PlayfairDisplay-Bold.svg') format('svg'); // Legacy iOS
}