seciton#special.special
  .container-fluid
    .row
      .col-lg-12
        h2.special__title
          | Today Special
    .row
      .col-lg-6.food-right
        .food
          img.food__img.img-fluid(src='/assets/img/dish1.jpg', alt='Dish1')
          h3.food__title
            | Food Name one
          p.food__desc
            | printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
          .food__details
            .food__deliv
              | Home 
              span Delivery
            .food__phone
              | 1-008-005-007
            .food__price
              sup $
              | 287.99
      .col-lg-6.food-left
        .food
          img.food__img.img-fluid(src='/assets/img/dish2.jpg', alt='Dish2')
          h3.food__title
            | Food Name two
          p.food__desc
            | printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
          .food__details
            .food__deliv
              | Home 
              span Delivery
            .food__phone
              | 1-008-005-006
            .food__price
              sup $
              | 581.99