@import '../../assets/scss/utils/vars.scss';

.special{
  display: block;
  background: url('/assets/img/todayspecial-bg.jpg') no-repeat center top;
  height: auto;
  padding: 10% 0 0;
  text-align: center;
}
.special__title{
  color: $mainFontColor;
  padding-bottom: 18px;
}
.food{
  text-align: center;
  width: 80%;
  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
  background-color: $default-color;
  margin-bottom: 10%;
  @media screen and (max-width: $smTableWidth){
    width: 90%;
  }
}
.food__img{
  width: 100%;
}
.food-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media screen and (max-width: $smDesktopWidth){
    align-items: center;
  }
}
.food-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media screen and (max-width: $smDesktopWidth){
    align-items: center;
  }
}
.food__title{
  margin: 10% auto 5% auto;
  font-size: $mainFontSize;
}
.food__desc{
  font-family: $secondFont;
  font-size: $secondFontSize;
  line-height: 1.9rem;
  margin: 0 10%;
}
.food__details{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e1e1e1;
  margin: 10% 10% 0 10%;
  padding: 5% 0;
}
.food__deliv{
  text-align: left;
  text-transform: uppercase;
  color: #14141d;
  font-weight: 700;
  font-size: $secondFontSize;
  width: 78px;
  height: 39px;
  border-right: 1px solid #e1e1e1;
  span{
    color: #fe4c8d;
  }
}
.food__price{
  font-size: $mainFontSize;
  font-family: $mainFont;
  color: #fea100;
  sup{
    font-size: .7em;
  }
}