@import '../../assets/scss/utils/vars.scss';

.main-header {
  padding: 48px 0px 18px 74px;
  width: 100%;
}

.menu {
  margin: 11px 0 0 6px;
  width: 528px;
}

.navbar {
  background-color: $default-color;
  opacity: .9;
  @media screen and (max-width: $smDesktopWidth){
    opacity: .95;
  }
}

.nav-item {
  text-align: center;
}
.nav-item:last-child {
  float: right;
  width: auto;
}

.menu__item {
  font-family: $secondFont;
  font-weight: 700;
  font-size: $secondFontSize;
  padding-top: 5px;
}
.menu__item a {
  color: #2c465a;
  text-transform: uppercase;
  text-decoration: none;
}

.buttons {
  border-radius: 10px;
  box-shadow: 0px 0px 7px 3px $shadow-color;
  &:hover{
    box-shadow: 0px 0px 0px $shadow-color;
  }
}

.custom-btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  padding-top: 2px;
  border: none;
  border-bottom: 2px solid #beb038;
  position: relative;
  font-size: $secondFontSize;
  font-weight: 700;
  color: $thrdFontColor;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  background: $primary-color;
  transition: ease 0.3s;
}

.custom-btn:after {
  content: "";
  display: block;
  width: 20px;
  height: 300px;
  margin-left: 60px;
  background: $default-color;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3ffffff', endColorstr='#b3ffffff', GradientType=0);
  position: absolute;
  left: -40px;
  top: -150px;
  z-index: 1;
  transform: rotate(45deg);
  transition: all 0.1s;
  animation-name: slideme;
  animation-duration: 3s;
  animation-delay: 0.05s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }

  30% {
    left: 110%;
    margin-left: 80px;
  }

  100% {
    left: 110%;
    margin-left: 80px;
  }
}

.book-your-table-btn {
  background: linear-gradient(to right, #ff7102, #ffa802);
  padding: 5px 10px 5px 20px;
  margin: -2px 0 0 14px;
  display: block;
  cursor: pointer;
  width: 199px;
  border: 0;
}

.book-your-table-btn_img {
  width: 21px;
  height: 17px;
  margin-right: 5px;
}