footer#footer.footer
  .container-fluid
    .row
      .col-lg-12
        ul.socials.ml-auto.mr-auto.d-flex.justify-content-between
          li.socials__item.socials__item_fb
            a(href='#')
          li.socials__item.socials__item_tw
            a(href='#')
          li.socials__item.socials__item_inst
            a(href='#')
    .row
      .col-lg-4
        .line
      .col-lg-4
        .credits
          | 2018 ©   All rights reserved
      .col-lg-4
        .line
