@import '../../assets/scss/utils/vars.scss';
@import '../../components/footer/SocialsBlock/SocialsBlock.scss';

.footer{
  background-color: #373844;
  color: #adb2b7;
  height: auto;
  padding-bottom: 10%;
  font-size: $secondFontSize;
  text-transform: uppercase;
  box-shadow: -4px -2px 47px 16px $shadow-color inset;
}
.footer .container-fluid{
  padding: 0 10%;
}

.credits{
  font-family: $secondFont;
  text-align: center;
}