footer#footer.footer
  .container-fluid
    .row
      .col
        ul.socials.d-flex.justify-content-center
          li.socials__item.socials__item-fb
            a(href='#')
          li.socials__item.socials__item-tw
            a(href='#')
          li.socials__item.socials__item-inst
            a(href='#')
    .row
      .col.line-col
        .line
      .col.col-md-4
        p.credits
          | 2018 ©   All rights reserved
      .col.line-col
        .line
